In [2]:
import os
import pandas as pd
import numpy as np

In [3]:
nomes = pd.read_excel('Valores.xlsx',sheet_name='Pastas')
nomes

                                      Nome
0                     01 - Marlon Colovini
1                     02 - Mara Barichello
2                       03 - Jandira Dutra
3                04 - Luiz Fernando Kruger
4                          05 - Paulo Bohn
..                                     ...
66                    68 - Mercado Ceretta
67  69 - Antonio Carlos Dos Santos Pereira
68            70 - Volnei Lemos Avila - Me
69                  71 - Silvana Meneghini
70             72 - Eficaz Engenharia Ltda

[71 rows x 1 columns]

In [4]:
nomesloop = nomes['Nome']
maximo = nomesloop.count()+1
maximo

72

In [5]:
for i in range(1,maximo):
    nome = nomesloop[:i:]
    nome

In [6]:
nome

0                       01 - Marlon Colovini
1                       02 - Mara Barichello
2                         03 - Jandira Dutra
3                  04 - Luiz Fernando Kruger
4                            05 - Paulo Bohn
                       ...
66                      68 - Mercado Ceretta
67    69 - Antonio Carlos Dos Santos Pereira
68              70 - Volnei Lemos Avila - Me
69                    71 - Silvana Meneghini
70               72 - Eficaz Engenharia Ltda
Name: Nome, Length: 71, dtype: object

In [7]:
path = './contas'
os.makedirs(path)

In [8]:
for x in nome:
    dir = path+'/'+x
    os.makedirs(dir)

[]